<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  </head>
  <body>
    <h1>Full Cycle Rocks!</h1>
    <p>- Lista de nomes cadastrada no banco de dados.</p>
    <% for (let i = 0; i < data.length; i++) { %>
      <p><%= data[i].name %></p>
    <% } %>
  </body>
</html>

